.grid_1_of_4 {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  box-shadow: 0px 0px 3px #969696;
  -webkit-box-shadow: 0px 0px 3px #969696;
  -moz-box-shadow: 0px 0px 3px #969696;
  -o-box-shadow: 0px 0px 3px #969696;
}
.grid_1_of_4:first-child {
  margin-left: 0;
}
.images_1_of_4 {
  width: 20.8%;
  padding: 1.5%;
  text-align: center;
  position: relative;
}
.images_1_of_4  img {
  max-width: 100%;
}
.images_1_of_4  h2 {
  color: #000000;
  font-family: 'ambleregular';
  font-size: 1.1em;
  font-weight: normal;
}
.images_1_of_4  p {
  font-size: 0.8125em;
  padding: 0.4em 0;
  color: #333;
}
.images_1_of_4  p span.price {
  font-size: 18px;
  font-family: 'ambleregular';
  color: #CC3636;
}
.price-details {
  margin-top: 10px;
  border-top: 1px solid #CD1F25;
}
.price-number {
  float: left;
  padding-top: 5px;
}
.price-details p span.rupees {
  font-size: 1.6em;
  font-family: 'ambleregular';
  color: #383838;
}
.add-cart {
  float: right;
  display: inline-block;
}
.add-cart h4 a {
  font-size: 0.9em;
  display: block;
  padding: 10px 15px;
  font-family: 'ambleregular';
  background: #CD1F25;
  color: #FFF;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.add-cart h4 a:hover {
  text-shadow: 0px 0px 1px #000;
  background: #292929;
}
hr {
  color: red;
  background: red;
  border: 0;
  height: 1px;
}
.tach {
  padding-left: 100px;
}
.section group {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.grid_1_of_4 images_1_of_4:hover .overlay {
  opacity: 1;
}
#filter li {
  border: 1px solid;
  background-color: #BDBDBD;
}
.g {
  text-decoration: line-through;
  font-size: 18px;
  font-family: 'ambleregular';
  color: #A4A4A4;
}
.module-7 {
  margin-left: 150px;
}
.overlay:hover {
  opacity: 1;
}
.container {
  width: 100%;
}
